# Copy to terraform.tfvars only for local use; never commit secrets.
project = "eks-platform"
admin_role_arns = ["arn:aws:iam::001495086648:role/AutomationAdminAll"]
github_oidc_subjects = [
	"repo:vipinkumar1234/aws-eks-production-platform:ref:refs/heads/main",
	"repo:vipinkumar1234/aws-eks-production-platform:ref:refs/heads/feat_test",
]
app_domain = "dev.worldofaws.app"
route53_zone_name = "worldofaws.app"
